@import 'tailwindcss';
@import './fonts.css';

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

@layer base {
  body {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  img {
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  li {
    list-style: none;
  }

  a {
    display: inline-block;
  }
}

@utility stack {
  display: grid;
  grid-template-areas: 'stack';

  & > * {
    grid-area: stack;
  }
}

@utility flow {
  display: grid;
  gap: 1em;
}

@utility flow-* {
  display: grid;
  gap: --spacing(--value(integer));
  gap: --value([length], [percentage]);
}
