<div class="embla">
  <div class="embla__container"></div>
</div>

<script>
  import EmblaCarousel, { type EmblaOptionsType } from 'embla-carousel';

  const emblaNode = document.querySelector('.embla') as HTMLElement;
  const options: EmblaOptionsType = {
    loop: true,
    breakpoints: {
      '(width > 768px)': { align: 'start', dragFree: true },
    },
  };
  const emblaApi = EmblaCarousel(emblaNode, options);
</script>

<style is:global>
  .embla {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
  }

  .embla__slide {
    --_cols: 1;
    --_col-width: calc(100% / var(--_cols));

    flex: 0 0 var(--_col-width);
    min-width: 0;
    overflow: hidden;
    /* margin-left: 0.5rem; */
  }

  @media (width > 768px) {
    .embla__slide {
      --_cols: 2;
    }
  }
</style>
