---
import Icon from '@/components/Icon.astro';
import { SOCIALS } from '@/consts/socials';
import cn from '@utils/cn';

const SOCIAL_BUTTONS_DATA = [
  {
    name: 'whatsapp',
    text: 'Escribinos por WhatsApp',
    styles: {
      button: 'bg-green-500 hover:bg-green-600',
      popup: 'bg-green-500',
    },
  },
  {
    name: 'instagram',
    text: 'Seguinos en Instagram',
    styles: {
      button:
        'bg-gradient-to-r from-purple-500 to-pink-500 hover:from-purple-600 hover:to-pink-600',
      popup: 'bg-purple-500',
    },
  },
];
---

<div class="fixed right-6 bottom-6 z-40 flex flex-col gap-4">
  {
    SOCIAL_BUTTONS_DATA.map(button => (
      <a
        href={SOCIALS.find(social => social.name === button.name)?.url}
        target="_blank"
        rel="noopener noreferrer"
        class={cn(
          'group rounded-full p-4 text-white shadow-lg transition-all duration-300 hover:scale-110',
          button.styles.button
        )}
        title={button.text}
      >
        <Icon name={button.name} />
        <div
          class={cn(
            'absolute top-1/2 right-full mr-3 -translate-y-1/2 transform rounded-lg px-3 py-1 text-sm whitespace-nowrap text-white opacity-0 transition-opacity group-hover:opacity-100',
            button.styles.popup
          )}
        >
          {button.text}
        </div>
      </a>
    ))
  }
</div>
