---
import Carousel from '@/components/Carousel.astro';
import Icon from '@/components/Icon.astro';
---

<dialog
  id="modal"
  class="relative m-auto max-w-4xl border-0 backdrop:bg-black backdrop:backdrop-blur-md md:rounded-md"
>
  <div>
    <header
      class="absolute z-10 flex w-full items-start justify-between gap-2 bg-black/20 mask-b-from-80% p-4 text-white backdrop-blur-xs md:px-6"
    >
      <h3 id="modal-title" class="text-xl font-bold md:text-2xl"></h3>
      <button id="close-modal" class="outline-none">
        <Icon name="x" class="size-8 md:size-9" />
      </button>
    </header>

    {/* Images */}
    <div class="bg-black/90">
      <Carousel />
    </div>
    {/* description */}
    <footer class="flow-2 bg-gray-50 p-4 pb-6 md:p-6 md:pb-8">
      <div class="flex items-center justify-between">
        <h4 class="text-lg font-semibold">Trabajo realizado:</h4>
        <div class="flex items-center gap-1 text-sm text-gray-600 md:text-base">
          <Icon name="clock" class="size-4" />
          <span id="modal-time"></span>
        </div>
      </div>
      <p id="modal-description" class="leading-tight text-gray-700"></p>
    </footer>
  </div>
</dialog>

<script>
  const modal = document.querySelector<HTMLDialogElement>('#modal');
  const closeModal = document.querySelector<HTMLButtonElement>('#close-modal');

  // Close button

  closeModal?.addEventListener('click', () => modal?.close());
  // Close modal on backdrop click
  modal?.addEventListener('click', e => {
    const rect = modal.getBoundingClientRect();
    // Click outside of content
    const isOutside =
      e.clientY < rect.top ||
      e.clientY > rect.bottom ||
      e.clientX < rect.left ||
      e.clientX > rect.right;
    if (isOutside && !isDragging) {
      modal.close();
    }
  });

  // Protect close modal when click of drag finish in backdrop
  let isDragging = false;
  modal?.addEventListener('mousedown', () => (isDragging = false));
  modal?.addEventListener('mousemove', () => (isDragging = true));
</script>

<style is:global>
  body:has(dialog[open]) {
    overflow: hidden;
  }

  dialog {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }

  dialog[open] {
    opacity: 1;
    @starting-style {
      opacity: 0;
    }
  }

  dialog::backdrop {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }

  dialog[open]::backdrop {
    opacity: 0.8;
  }
</style>
