<footer
  class="content text-text-muted border-text-main-ghost border-t py-6 text-center font-mono"
>
  <div class="flex flex-wrap items-center justify-center gap-x-[1ch]">
    <span>EM SERVICIOS &copy; 2026.</span>
    <span>SU SERVICIO DE CONFIANZA.</span>
  </div>
</footer>
