---
import { ROUTES } from '@/consts/routes';
import Icon from '@/components/Icon.astro';
import { PHONE_INFO } from '@/consts/contactInfo';
import capitalize from '@/utils/capitalize';
---

<header class="sticky top-0 z-50 w-full bg-white shadow-md">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    {/* Header content */}
    <div class="flex items-center justify-between py-4">
      {/* Brand */}
      <div class="flex items-center gap-2">
        <div class="text-black">
          <Icon name="logo" class="size-12" />
        </div>
        <div>
          <h1 class="text-xl font-bold text-gray-900">EM Servicios</h1>
          <p class="text-sm text-gray-600">Reparación y mantenimiento</p>
        </div>
      </div>

      {/* Mavigation */}
      <nav
        aria-label="Navegacion principal"
        class="flex items-center justify-center"
      >
        {/* Mobile Menu Button */}
        <button
          id="menu-button"
          class="size-8 md:hidden"
          aria-expanded="false"
          aria-controls="primary-navigation"
        >
          <span class="sr-only">Menu</span>
        </button>

        {/* Menu */}
        <ul
          id="primary-navigation"
          class="absolute inset-x-0 top-full h-fit divide-y divide-gray-300 overflow-clip border-t border-gray-300 bg-white px-4 shadow md:relative md:flex md:items-center md:divide-none md:border-none md:shadow-none"
        >
          {
            ROUTES.map(({ href, name }) => (
              <li class="block">
                <a
                  class="block p-3 font-medium text-gray-700 transition-colors hover:bg-gray-100 md:px-4 md:py-2"
                  href={href}
                >
                  {capitalize(name)}
                </a>
              </li>
            ))
          }
          <li class="px-3 py-3 md:py-0">
            <a
              href={PHONE_INFO.href}
              target="_blank"
              rel="noopener noreferrer"
              class="flex w-fit items-center gap-2 rounded-lg bg-green-500 px-4 py-2 text-white transition-colors hover:bg-green-600"
            >
              <Icon name="whatsapp" class="size-4" />
              WhatsApp
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<script>
  const menuButton = document.querySelector(
    '#menu-button'
  ) as HTMLButtonElement;

  function toggleMenu() {
    const isExpanded = menuButton.getAttribute('aria-expanded') === 'true';
    menuButton.setAttribute('aria-expanded', String(!isExpanded));
  }

  menuButton?.addEventListener('click', toggleMenu);
</script>

<style>
  #menu-button[aria-expanded] {
    border: none;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    background-image: url('/src/assets/icons/menu.svg');
  }

  #menu-button[aria-expanded='true'] {
    background-image: url('/src/assets/icons/x.svg');
  }

  #primary-navigation {
    visibility: visible;
    interpolate-size: allow-keywords;
    transition:
      height 250ms ease,
      visibility 250ms;
  }

  @media screen and (width < 48rem) {
    #menu-button[aria-expanded='false'] ~ #primary-navigation {
      visibility: hidden;
      height: 0;
    }
  }
</style>
