---
import CTAButton from '@/components/CTAButton.astro';
import heroImage from '@/assets/imgs/hero.webp';
import heroPoster from '@/assets/imgs/hero-poster.webp?url';
import heroVideo from '@/assets/videos/hero.webm?url';
import SectionLayout from '@/layouts/SectionLayout.astro';
import Icon from '@/components/Icon.astro';
---

<SectionLayout
  class="content overlay relative w-full overflow-hidden mask-b-from-95%"
>
  <!-- Background Elements -->
  <video
    src={heroVideo}
    class="absolute inset-0 -z-10 h-full w-full object-cover object-right opacity-50"
    autoplay
    muted
    poster={heroPoster}
  >
  </video>
  <!-- <Image
    src={heroImage}
    alt=""
    class="absolute inset-0 -z-10 h-full w-full object-cover object-[top_50%_right_25%] opacity-50"
    priority
  /> -->

  <!-- Content -->
  <div class="isolate">
    <span
      class="reveal text-brand-highlight before:bg-brand-primary mb-6 flex items-center gap-4 font-mono text-xs tracking-[0.5em] uppercase delay-100 before:h-px before:w-10"
    >
      Servicio Técnico
    </span>
    <h1
      class="reveal mb-8 w-min text-5xl font-black -tracking-tighter uppercase delay-300 lg:text-[clamp(3.5rem,8vw,6.5rem)]"
    >
      Análisis Reparación Garantía
    </h1>
    <p
      class="reveal text-text-muted border-brand-deep bg-surface-base/50 md mb-12 grid max-w-[500px] rounded-r-xs border-l-2 p-2 pl-6 font-mono text-lg leading-relaxed backdrop-blur-md delay-500"
    >
      Diagnóstico gratuito y garantía en todos nuestros trabajos.
    </p>

    <div class="reveal flex max-w-3xl flex-wrap gap-8 delay-700">
      <CTAButton href="#contacto">
        <Icon name="whatsapp" class="size-5 shrink-0 lg:size-8 lg:gap-4" />
        Contactar Técnico
      </CTAButton>
      <CTAButton
        href="https://instagram.com/em_servicio_tecnico"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon name="instagram" class="size-5 shrink-0 lg:size-8 lg:gap-4" />
        Ver Trabajos
      </CTAButton>
    </div>
  </div>
</SectionLayout>

<style>
  .overlay {
    --opacity: 0.3;
    isolation: isolate;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: oklch(from var(--color-surface-base) l c h / var(--opacity));
    }

    @media (width > 48rem) {
      --opacity: 0;
    }
  }

  h1 {
    --clr-base-400: var(--color-brand-glow, green);
    --clr-base-700: oklch(from var(--clr-base-400) calc(l - 0.35) c h);
    --clr-base-900: oklch(from var(--clr-base-400) calc(l - 0.65) c h);

    --clr-accent-400: oklch(from var(--clr-base-400) calc(l + 0.15) 0.35 h);
    --clr-accent-700: oklch(from var(--clr-base-400) calc(l - 0.35) 0.4 h);
    --clr-accent-900: oklch(from var(--clr-base-400) calc(l - 0.55) 0.2 h);

    --clr-text: var(--color-text-main, white);

    color: var(--clr-text);
    text-shadow: 0 0 3vw oklch(from var(--clr-base-400) l 0.3 h);

    animation: flux 5s ease infinite;

    @media (prefers-reduced-motion: reduce) {
      & {
        animation: none;
      }
    }
  }

  @keyframes flux {
    0%,
    100% {
      text-shadow:
        0 0 1vw var(--clr-base-700),
        0 0 3vw var(--clr-base-700),
        0 0 10vw var(--clr-base-700),
        0 0 0.4vw var(--clr-accent-400),
        0.5vw 0.5vw 0.1vw var(--clr-accent-700);
    }
    40% {
      text-shadow:
        0 0 0.5vw var(--clr-base-900),
        0 0 1.5vw var(--clr-base-900),
        0 0 5vw var(--clr-base-900),
        0 0 0.2vw var(--clr-base-900),
        0.5vw 0.5vw 0.1vw var(--clr-accent-900);
      color: oklch(from var(--clr-text) l c h / 0.75);
    }
  }
</style>
